<header class="page-header">
    <div class="container page-name">
        <h1 class="text-center">Add your company</h1>
        <p class="lead text-center">Create a profile for your company and put it online.</p>
    </div>
    <div class="container">
        <add-company-header></add-company-header>
    </div>
</header>
<add-resume-media></add-resume-media>
<add-company-detail></add-company-detail>
<!-- Submit -->
<section>
    <div class="container">
    <header class="section-header">
        <span>Are you done?</span>
        <h2>Submit it</h2>
        <p>Please review your information once more and press the below button to put your company online.</p>
    </header>

    <p class="text-center"><button class="btn btn-success btn-xl btn-round">Submit your company</button></p>

    </div>
</section>
<!-- END Submit -->
