<section class="no-padding-top bg-alt">
  <div class="container">
    <div class="row"
      [ngClass]="{
        'item-blocks-connected' : type == 3
      }"
    >

      <div class="col-xs-12">
        <br>
        <h5>We found <strong>357</strong> matches, you're watching <i>10</i> to <i>20</i></h5>
      </div>
      <div *ngIf="version == 2">
        <single-job2 *ngFor="let job of jobs"></single-job2>
      </div>
      <div *ngIf="version == 1">
        <single-job *ngFor="let job of jobs"></single-job>
      </div>

    </div>


    <!-- Page navigation -->
    <nav class="text-center">
      <ul class="pagination">
        <li>
          <a href="job-list-1.html#" aria-label="Previous">
            <i class="ti-angle-left"></i>
          </a>
        </li>
        <li><a href="job-list-1.html#">1</a></li>
        <li class="active"><a href="job-list-1.html#">2</a></li>
        <li><a href="job-list-1.html#">3</a></li>
        <li><a href="job-list-1.html#">4</a></li>
        <li>
          <a href="job-list-1.html#" aria-label="Next">
            <i class="ti-angle-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- END Page navigation -->

  </div>
</section>