<!-- Job detail -->
<div class="col-xs-12">
  <div class="item-block">
    <header>
      <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
      <div class="hgroup">
        <h4><a href="job-detail.html">Senior front-end developer</a></h4>
        <h5><a href="company-detail.html">Google</a></h5>
      </div>
      <div class="header-meta">
        <span class="location">Menlo park, CA</span>
        <time datetime="2016-03-10 20:00">34 min ago</time>
      </div>
    </header>

    <footer>
      <p class="status"><strong>Status:</strong> Pending approval</p>

      <div class="action-btn">
        <a class="btn btn-xs btn-gray" href="job-manage.html#">Edit</a>
        <a class="btn btn-xs btn-danger" href="job-manage.html#">Delete</a>
      </div>
    </footer>
  </div>
</div>
<!-- END Job detail -->
