<!-- Resume item -->
<div class="item-block">
  <header>
    <a href="resume-detail.html"><img class="resume-avatar" src="assets/img/avatar.jpg" alt=""></a>
    <div class="hgroup">
      <h4><a href="resume-detail.html">John Doe</a></h4>
      <h5>PHP developer <span class="label label-info">Hidden</span></h5>
    </div>
    <div class="header-meta">
      <span class="location">Menlo park, CA</span>
      <span class="rate">$60 per hour</span>
    </div>
  </header>

  <footer>
    <p class="status"><strong>Updated on:</strong> Feb 27, 2016</p>

    <div class="action-btn">
      <a class="btn btn-xs btn-gray" href="job-apply.html#">Edit</a>
      <a class="btn btn-xs btn-success" href="job-apply.html#">Select</a>
    </div>
  </footer>
</div>
<!-- END Resume item -->