<h1 class="text-center">Apply for the job</h1>
<p class="lead text-center">Apply with your online resume, create new resume for the job, or make a custom application.</p>

<hr>

<!-- Job detail -->
<a class="item-block item-block-flat" href="job-detail.html">
  <header>
    <img src="assets/img/logo-google.jpg" alt="">
    <div class="hgroup">
      <h4>Senior front-end developer</h4>
      <h5>Google</h5>
    </div>
    <div class="header-meta">
      <span class="location">Menlo park, CA</span>
      <time datetime="2016-03-10 20:00">34 min ago</time>
    </div>
  </header>
</a>
<!-- END Job detail -->

<div class="button-group">
  <div class="action-buttons">
    <a class="btn btn-gray" href="job-apply.html#sec-custom">Custom application</a>
    <a class="btn btn-primary" href="job-apply.html#sec-resume">Apply with a resume</a>
  </div>
</div>