<!-- Team -->
<section class="bg-alt">
  <div class="container">
    <header class="section-header">
      <span>Who we are</span>
      <h2>Our team</h2>
      <p>Currently, we're three geek and will grow up soon</p>
    </header>

  <div class="row equal-team-members">

    <!-- Team member -->
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let team of teams">
      <div class="team-member">
        <h5>Jose Shams <small>Co-founder & CEO</small></h5>
        <img src="assets/img/avatar-1.jpg" alt="avatar">
        <ul class="social-icons">
          <li><a class="twitter" href="page-about.html#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="page-about.html#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="dribbble" href="page-about.html#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="instagram" href="page-about.html#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <p>Curabitur eros tellus, eleifend eu ligula sed, vestibulum venenatis justo. Nunc semper augue non enim lacinia, fermum condimenm nulla finibus curabitur quis.</p>
      </div>
    </div>
    <!-- END Team member -->

  </div>

  </div>
</section>
<!-- END Team -->