<!-- Company detail -->
<div class="col-xs-12">
  <a class="item-block" href="company-detail.html">
    <header>
      <img src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h4>Google</h4>
        <h5>Internet and computer software</h5>
      </div>
      <span class="open-position">15 open position</span>
    </header>

    <div class="item-body">
      <p>Google Inc. is an American multinational technology company specializing in Internet-related services and products. These include online advertising technologies, search, cloud computing, and software. Most of its profits are derived from AdWords, an online advertising service that places advertising near the list of search results.</p>
    </div>
  </a>
</div>
<!-- END Company detail -->