    .conversation-wrap
    {
        box-shadow: -2px 0 3px #ddd;
    }
    .conversation
    {
        padding:5px;
        border-bottom:1px solid #ddd;
        margin:0;

    }

    .message-wrap
    {
        box-shadow: 0 0 3px #ddd;
        padding:0;

    }
    .msg
    {
        padding:5px;
        /*border-bottom:1px solid #ddd;*/
        margin:0;
    }
    .msg-wrap
    {
        padding:10px;
        max-height: 400px;
        overflow: auto;

    }

    .time
    {
        color:#bfbfbf;
    }

    .send-wrap
    {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px;
        /*background: #f8f8f8;*/
    }

    .send-message
    {
        resize: none;
    }

    .highlight
    {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;

        border-bottom-right-radius: 0;
    }
    .btn-panel
    {
        background: #f7f7f9;
    }

    .btn-panel .btn
    {
        color:#b8b8b8;

        transition: 0.2s all ease-in-out;
    }

    .btn-panel .btn:hover
    {
        color:#666;
        background: #f8f8f8;
    }
    .btn-panel .btn:active
    {
        background: #f8f8f8;
        box-shadow: 0 0 1px #ddd;
    }

    .btn-panel-conversation .btn,.btn-panel-msg .btn
    {

        background: #f8f8f8;
    }
    .btn-panel-conversation .btn:first-child
    {
        border-right: 1px solid #ddd;
    }

    .msg-wrap .media-heading
    {
        color:#003bb3;
        font-weight: 700;
    }


    .msg-date
    {
        background: none;
        text-align: center;
        color:#aaa;
        border:none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }
 
    
    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
/*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background:#ddd; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #ddd; 
    }
.chat{
    padding: 0;
}
.chat .container{
    width: 1349px;
}
.conversation-wrap{
    background: #39414b;
    color: #fff;
    padding: 5px 0px;
}
.conversation-wrap .media{
    border-bottom: none;
}
.conversation-wrap h3{
    color: #82858f;
    font-size: 24px;
    font-weight: 700;
    margin: 15px;
    position: relative;
}
.conversation-wrap h3 i{
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 6px;
    border: 1px solid;
    border-radius: 25px;
    width: 25px;
    height: 25px;
}
.conversation .media-body{
    position: relative;
    padding: 0 10px;
}
.conversation .media-body .media-heading{
    font-size: 16px;
    color: #cfd1d3;
    cursor:pointer;
}
.conversation .media-body .notifi{
    position: absolute;
    right: 10px;
    top: 0;
    width: 35px;
    height: 25px;
    text-align: center;
    background: #23a1ff;
    font-size: 13px;
    border-radius: 15px;
}
.conversation.active{
    background: #23a1ff;
}
.conversation .media-body .fa{
    color: #5cb85c;
}
.conversation.white-icon .media-body .fa{
    color: #fff;
} 
.message-wrap .heading{
    padding: 0 15px;
    border-bottom: 1px solid #eee;
}
.msg img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.msg .media-heading{
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 3px;
    color: #333;
}
.msg .tag, .msg .days, .msg .likes{
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 0;
}
.msg .likes .fa{
    color: #ff5252;
}
.send-wrap{
    float: left;
    width: 100%;
    position: relative;
}
.insert{
    float: left;
    width: 10%;
    padding: 21px;
    text-align: center;
    border: 1px solid #eee;
    border-right: none;
}
.insert i{
    font-size:18px;
}
.send-message{
    float:left;
    width: 90%;
}
.send-wrap .history{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #28b473;
    color: #fff;
    border-radius: 50%;
}
.msg-wrap{
    max-height: 544px;
}
@media (min-width:320px) and (max-width:567px) {
    .chat .container{
        width: 100%;
    }
    .insert{
        padding: 21px 0;
    }
}
@media (min-width:568px) and (max-width:767px) {
    .chat .container{
        width: 100%;
    }
}
@media (min-width:685px) and (max-width:991px) {
   .chat .container{
       width: 100%;
   }
   .msg-wrap{
       max-height: 613px;
   }
   .conversation .media-body .media-heading{
       font-size: 13px;
   }
   .conversation .media-body{
       padding: 2px 10px;
   }
}