<!-- Company item -->
<div class="col-xs-12">
  <div class="item-block">
    <header>
      <a href="company-detail.html"><img src="assets/img/logo-google.jpg" alt=""></a>
      <div class="hgroup">
        <h4><a href="company-detail.html">Google</a></h4>
        <h5>Internet and computer software <a href="company-detail.html#open-positions"><span class="label label-info">15 jobs</span></a></h5>
      </div>
      <div class="action-btn">
        <a class="btn btn-xs btn-gray" href="company-manage.html#">Edit</a>
        <a class="btn btn-xs btn-danger" href="company-manage.html#">Delete</a>
      </div>
    </header>
  </div>
</div>
<!-- END Company item -->