<!-- Work item -->
<div class="col-xs-12">
  <div class="item-block">
    <header>
      <img src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h4>Google</h4>
        <h5>Senior front-end developer</h5>
      </div>
      <h6 class="time">Jan 2016 - Present</h6>
    </header>
    <div class="item-body">
      <p>Responsibilities:</p>
      <ul>
        <li>Developed front-end for world-class online social viewing video and chat platform using xHTML, CSS, ActionScript 2-3, Javascript, and XML.</li>
        <li>Developed built-in chat application into Flash video player in ActionScript 3.</li>
        <li>Built and developed sites for ABC Family properties such as Gilmore Girls, The Middleman, Secret Life of an American Teenager, Greek, and Kyle XY. </li>
        <li>Translate designs into responsive web interfaces </li>
        <li>Collaboration with the graphic designer on the front-end aspect of development. </li>
        <li>Cross-platform cross-browser development. </li>
        <li>Some back-end development in collaboration with senior developer.</li>
      </ul>
    </div>
  </div>
</div>
<!-- END Work item -->