<div class="col-xs-12">
  <div class="item-block">
    <header>
      <img src="assets/img/logo-mit.png" alt="">
      <div class="hgroup">
        <h4>Master <small>Computer Science</small></h4>
        <h5>Massachusetts Institute of Technology</h5>
      </div>
      <h6 class="time">2012 - 2014</h6>
    </header>
    <div class="item-body">
      <p>The Massachusetts Institute of Technology (MIT) is a private research university in Cambridge, Massachusetts. Founded in 1861 in response to the increasing industrialization of the United States, MIT adopted a European polytechnic university model and stressed laboratory instruction in applied science and engineering.</p>
    </div>
  </div>
</div>