<!-- Resume item -->
<div class="col-xs-12">
  <div class="item-block">
    <header>
      <a href="resume-detail.html"><img class="resume-avatar" src="assets/img/avatar.jpg" alt=""></a>
      <div class="hgroup">
        <h4><a href="resume-detail.html">John Doe</a></h4>
        <h5>Front-end developer</h5>
      </div>
      <div class="header-meta">
        <span class="location">Menlo park, CA</span>
        <span class="rate">$55 per hour</span>
      </div>
    </header>

    <footer>
      <p class="status"><strong>Updated on:</strong> March 10, 2016</p>

      <div class="action-btn">
        <a class="btn btn-xs btn-gray" href="resume-manage.html#">Hide</a>
        <a class="btn btn-xs btn-gray" href="resume-manage.html#">Edit</a>
        <a class="btn btn-xs btn-danger" href="resume-manage.html#">Delete</a>
      </div>
    </footer>
  </div>
</div>
<!-- END Resume item -->