<div class="row">
  <div class="col-xs-12">
    <div class="item-block">
      <div class="item-form">

        <button class="btn btn-danger btn-float btn-remove" (click)="remove()"><i class="ti-close"></i></button>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Skill name, e.g. HTML">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Skill proficiency, e.g. 90">
                <span class="input-group-addon">%</span>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>