<header class="page-header bg-img" style="background-image: url('assets/img/bg-banner1.jpg');">
  <div class="container page-name">
    <h1 class="text-center">Browse companies</h1>
    <p class="lead text-center">Use following search box to find companies that fits you better</p>
  </div>
  <div class="container">
    <browse-company-header></browse-company-header>
  </div>
</header>
<section class="no-padding-top bg-alt">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <br>
        <h5>We found <strong>86</strong> matches, you're watching <i>10</i> to <i>15</i></h5>
      </div>
      <browse-company-single *ngFor="let single of singles"></browse-company-single>
    </div>
  </div>
</section>