<header class="page-header bg-img size-xl overlay-light" style="background-image: url('assets/img/blog-2.jpg')">
  <div class="container no-shadow">
    <h1 class="text-center">Office Dress Code Do's and Don'ts</h1>
    <p class="lead text-center"><time datetime="2016-03-28 20:00">March 28, 2016</time></p>
  </div>
</header>
<main class="container blog-page">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <single-blog-detail></single-blog-detail>
    </div>
    <blog-widget></blog-widget>
  </div>
</main>